<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>
        Farmers
    </title>
</head>
<body>
    <div class="header">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.jpg') }}" alt="farmers_logo" class="logo">
        </div>
        <a href="{{ url_for('home') }}">
                <div class="header-btn" style="color: black; background-color:#4ede7d;">
                Home
            </div>
        </a>
        <a href="{{ url_for('capture') }}">
                <div class="header-btn">
                Capture
            </div>
        </a>
        <a href="{{ url_for('upload') }}">
            <div class="header-btn">
                Upload
            </div>
        </a>
        <a href="{{ url_for('about') }}">
            <div class="header-btn">
                About
            </div>
        </a>
    </div>

    <center>
        <div class="title" style="font-weight: 1000; padding: 10vh; font-size: 5rem">
            Plant Disease Detector
        </div>
    </center>
    


    <div class="buttons-container" style="display: flex; justify-content: space-evenly;">
        <a href="{{ url_for('capture') }}">
            <button type=submit class="button-30" role="button" style="height: 10vh">Capture</button>
        </a>
        
        <form action="{{ url_for('upload') }}" method="POST">
            <button type=submit class="button-30" role="button" style="height: 10vh">Upload</button>
        </form>
    </div>

</body>
</html>